<br />
<% post.comments.forEach(function (comment, index) { %>
<div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
        <span class="info"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
</div>
<% }) %>

<form method="post">
    <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" class="form-control"/><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" class="form-control"/><br />
    网址：<input type="text" name="website" value="/u/<%= user.name %>" class="form-control" /><br />
    <% } else { %>
    姓名：<input type="text" name="name" class="form-control"/><br />
    邮箱：<input type="text" name="email" class="form-control"/><br />
    网址：<input type="text" name="website" value="http://" class="form-control" /><br />
    <% } %>
    <textarea name="content" rows="5" cols="80" class="form-control"></textarea><br />
    <input type="submit" value="留言" class="btn btn-success"/>
</form>